| {{ I18n.t('users.messages.remove_confirm')}}
br
br
a.btn.btn-danger ng-click="destroy()"
  | {{ I18n.t('actions.confirm') }}
| &nbsp;
a.btn.btn-success ng-click="closeThisDialog()"
  | {{ I18n.t('actions.cancel') }}