//= require bootstrap_and_overrides
//= require angular-ng-dialog
//= require angular-ng-dialog-theme-default
//= require font-awesome
//= require redactor/redactor
//= require angular-range-slider
//= require slick/slick.css
//= require slick/slick-theme.css
//= require selectize
//= require selectize.default
//= require angular-bootstrap-lightbox
//= require_tree .

.btn-group-active{
  background: #FFD800;
}

[ng-bind-html]{
  img{
    max-width: 100% !important;
  }
  overflow: hidden;
}

.localization{
  position: absolute;
  top: 33px;
  right: 21px;
  width: 100%;

  text-align: right;

  font-family: 'PTSansRegular';
  cursor: pointer;
  font-size: 12px;

  table{
    display: inline-flex;
    td{
      padding-left: 10px;
    }
    a {
      color: white;
      cursor: pointer;
      text-decoration: none;
      border-bottom: 1px dashed white;
      &:hover{
        border: 0;
      }
      &.active{
        color: #000000;
      }
    }
  }
}

.header{
  .gallery{
    .main-slider{
      .main-slide{
        height: 502px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
      position: absolute;
      width: 100%;
      height: 100%;
      display: none;
    }
    .main-slider-disabler{
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: transparent;
    }
    overflow: hidden;
    margin-top: -20px;
    color: white;
    min-height: 502px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position:relative;
    .header-row{
      margin: 0 auto;
      max-width: 1368px;
      position: absolute;
      top: 54px;
      right: 90px;
      left: 65px;
      .white-dashed-link{
        font-size: 18px;
      }
    }
    .logo{
      position: absolute;
      margin-top: -26px;
      width: 320px;
      font-family: PFCentroSerifBold;
      font-weight: 900;
      .span1{
        margin-top: 40px;
        margin-left: -10px;
        font-size: 70px;
      }
      .span2{
        margin-top: 10px;
        margin-left: -9px;
        font-size: 44px;
      }
      .span3{
        margin-top: 0px;
        margin-left: -9px;
        font-size: 48.9px;
      }
    }
    .header-menu{
      text-align: right;
      padding-left: 320px;
      margin-top: 40px;
      line-height: 2.3em;
      .header-menu-column{
        display: inline-block;
        text-align: left;
        list-style-type: none;
      }
    }
    .header-text {
      /* bottom: 40px; */
      border: 2px dashed white;
      border-radius: 100px;
      -webkit-border-radius: 100px;
      -moz-border-radius: 100px;
      width: 902px;
      line-height: 21px;
      font-family: PTSansRegular;
      font-size: 16px;
      padding: 19px 354px 20px 45px;
      /* margin-left: 500px; */
      text-align: left;
      /* right: -98px; */
      /* margin-right: 22px; */
      position: absolute;
      right: -354px;
      top: 241px;
    }
    .logo-text{
      line-height: 1.7em;
      margin-top: 10px;
      padding-left: 52px;
    }
  }
  .black-header{
    overflow: hidden;
    margin-top: -20px;
    color: white;
    background-color: #343434;
    background-image: url('black-header-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position:relative;
    table{
      border: 0;
      td{
        border: 0;
      }
    }
    .logo{
      img{
        margin-top: -15px;
        width: 168px;
      }
    }
  }
}

.wave{
  height: 10px;
  background-image: url('wave.svg');
  //    background-size: 100px 200px;
  margin-top: -10px;
  position: relative;
}

.wave-bottom{
  height: 10px;
  background-image: url('wave-bottom.svg');
  //    background-size: 100px 200px;
  margin-bottom: -10px;
  position: relative;
}

.nav-menu{
  position: relative;
  background-color: #FFD800;
  .container{
    table{
      border: 0;
      height: 100%;
      vertical-align: middle;
      width: 100%;
    }
  }
  ul{
    list-style-type: none;
    a {
      color: black;
      cursor: pointer;
      text-decoration: none;
      &:hover{
        border: 0;
      }
    }
    li{
      margin-right: 14px;
      display: inline-block;
    }
  }
  .nav-dropdown{
    display: none;
    position: absolute;
    min-width: 175px;
    background-color: #ffffff;
    top: 100%;
    z-index: 100;
    border: 1px solid #E8E8E8;
    border-bottom: 3px solid #FFD800;
    padding: 20px;
    .arrow{
      position: absolute;
      top: -1px;
      left: 30px;
      border-top: 10px solid #FFD800;
      border-left: 10px solid #ffffff;
      border-right: 10px solid #ffffff;
    }
    ul{
      padding: 0 !important;
      li{
        display: block;
        a{

        }
      }
    }
  }
  .nav-dropdown-table{
    height: 100%;
    width: auto !important;
    tr{
      td{
        padding-right: 25px !important;
        a{
          margin: 0 !important;
        }
      }
    }
  }
}

input, button{
  outline: none;
}

input.pet-input{
  background-color: transparent;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  padding: 0 20px;
  border: 1px solid white;
  outline: none;
  position: relative;
  width: 100%;
}

.footer-routes{
  ul{
    list-style-type: none;
    li{
      height: 60px;
      width: 117px;
      margin-right: 14px;
    }
  }
}

.error{
  font-size: 11px;
  color: red;
}

footer{
  margin-top: 50px;
  margin-bottom: 50px;
}


.rounded-one{
  position: relative;
  width: 16px;
  height: 16px;
  border: 1px solid black;
  cursor: pointer;
  display: inline-block;
  border-radius: 50px;
  input[type=checkbox], input[type=radio]{
    display: none;
  }
  .rounded-two{
    position: absolute;
    top: 2px;
    left: 2px;
    background-color: black;
    width: 10px;
    height: 10px;
    display: none;
    border-radius: 50px;
  }
  &.checked .rounded-two{
    display: block;
  }
}

span.yellow-budget{
  text-transform: uppercase;
  background-color: #FFD800;
  border-radius: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  color: white;
  font-weight: normal;
  font-size: 13px;
  padding: 4px 7px;
}

span.black-budget{
  text-transform: uppercase;
  background-color: black;
  border-radius: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  color: white;
  font-weight: normal;
  font-size: 13px;
  padding: 4px 7px;
}

.vertical-align-table{
  tr td{
    vertical-align: middle !important;
    border: 0 !important;
    span{
      vertical-align: middle;
    }
    text-align: left;
    padding-right: 30px;
    border: 1px solid red;
  }
}

a.white-link{
  color: white;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 1px dashed white;
  &:hover{
    border: 0;
  }
  padding-right: 10px;
}

.serif-font{
  font-family: 'PT Serif Caption', serif;
}

.header2-text{
  font-size: 16px;
}

.serif-font-bold{
  font-family: PTSansBold;
  font-size: 18px;
}

.dashed_text{
  border-bottom: 1px dashed black !important;
}

.horizontal-list{
  display: table-cell;
  vertical-align: middle;
}

.family-select{
  img{
    opacity: 0.5;
  }
  &.active{
    img{
      opacity: 1;
    }
  }
  input{
    display: none;
  }
}

.stat-meta{
  a{
    margin-right: 20px;
    color: lightgray;
    cursor: pointer;
    text-decoration: none;
    border-color: lightgray;
    &:hover{
      color: black;
      border-color: black;
    }
  }
}

#shop-carousel{
  overflow: hidden;
  height: 363px;
  margin-bottom: 0;
  img{
    max-width: 150px !important;
    max-height: 150px !important;
  }

  font-family: 'PTSansRegular';
  font-size: 18px;
  line-height: 41px;
}

.small-text{
  font-size: 10px;
}

.capitalized{
  text-transform: capitalize;
}