.yellow-btn{
  background-color: #FFD800;
  text-decoration: none;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  padding: 8px 14px;
  border: 0 !important;
  color: black;
  font-family: 'PTSansRegular';
  cursor: pointer;
  font-size: 18px;
  &:hover{
    color: white !important;
  }
}

.yellow-black-btn{
  background-color: #FFD800;
  text-decoration: none;
  border: 1px solid black;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  padding: 6px 14px;
  color: black;
  cursor: pointer;
  &:hover{
    color: white !important;
    border-color: #ffffff;
    text-decoration: none;
  }
}

.white-btn{
  background-color: transparent;
  text-decoration: none;
  border: 1px solid black;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  padding: 6px 14px;
  color: black;
  cursor: pointer;
  &:hover{
    text-decoration: none;
  }
}

a.white-dashed-link{
  color: white;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 1px dashed white;
  font-family: 'PTSansRegular';
  font-size: 17px;
  &:hover{
    border: 0;
  }
}

a.black-dashed-link{
  color: black;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 1px dashed black;
  font-family: 'PTSansRegular';
  font-size: 17px;
  &:hover{
    border: 0;
  }
  &.active{
    color: white;
    border-bottom: 1px dashed white;
  }
}

a.yellow-dashed-link{
  color: #FFD800;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 1px dashed #FFD800;
  font-family: 'PTSansRegular';
  font-size: 17px;
  &:hover{
    border: 0;
  }
}

.yellow-cat-radio{
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-image: url('cat-icon.png');
  &.active{
    background-image: url('cat-icon-white.png');
  }
}

.yellow-dog-radio{
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-image: url('dog-icon.png');
  &.active{
    background-image: url('dog-icon-white.png');
  }
}

.ngrs-range-slider{
//  overflow: hidden;
  padding: 0 !important;
//  height: 15px;
  margin: 0 !important;
  border: 1px solid #000000 !important;
  background-color: transparent !important;
  box-shadow: none !important;
  border-radius: 20px !important;
  -moz-border-radius: 20px !important;
  -webkit-border-radius: 20px !important;
  .ngrs-runner{
    height: 15px;
    margin: 0 15px 0 0 !important;
    .ngrs-handle{
      &.ngrs-handle-max{
        margin: 0 !important;
      }
      &.ngrs-handle-min{
        margin: 0 !important;
      }
      width: 15px !important;
      height: 15px !important;
      border-radius: 20px !important;
      -moz-border-radius: 20px !important;
      -webkit-border-radius: 20px !important;
      background-color: #000000 !important;
      border: 0 !important;
    }
    .ngrs-join{
      top: 0;
      margin: 0px -15px 0 0 !important;
      background-color: #000000 !important;
      background-image: none !important;
      height: 15px !important;
      border-radius: 20px !important;
      -moz-border-radius: 20px !important;
      -webkit-border-radius: 20px !important;
    }
  }
}

.global-search{
  color: white;
  &:hover{
    color: black;
  }
  input{
    background-color: transparent;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border: 1px solid white;
    width: 200px;
    padding: 0 20px;
  }
}

.global-search-icon{
}

/* enable absolute positioning */
.inner-addon {
  position: relative;
}

/* style icon */
.inner-addon i {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon i  { left:  0px;}
.right-addon i { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

.key-icon{
  background-image: url(key-icon.png);
  background-size: cover;
  width: 37px;
  height: 24px;
  display: inline-block;
  margin-bottom: -2px;
}

.yellow-rounded{
  display: inline-block;
  background-color: #FFD800;
  width: 20px;
  height: 20px;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  text-align: center;
}