table.comments-table{
  border: 0;
  tr{
    border: 0;
    td{
      border: 0;
      padding: 0;
    }
  }
  tr:first-child{
    td:first-child{
      width: 100px;
      img{
        width: 100px;
      }
    }
    td:nth-child(2){
      width: 30px;
      .angle{
        margin-top: 40px;
        width: 30px;
        height: 30px;
        border-right: 15px solid #F8F8F8;
        border-top: 15px solid #ffffff;
        border-bottom: 15px solid #ffffff;
      }
    }
    td:nth-child(3){
      background-color: #F8F8F8;
      padding: 15px;
      table.comment-content{
        width: 100%;
        .rating{
          font-size: 14px;
          color: #FFD700;
        }
        td{
          width: 50%;
        }
      }
    }
  }
  img{
    border-radius: 9px;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
    border: 3px solid #F8F8F8;
  }
}

.comments-gray{
  color: lightgray;
  .dashed_text{
    color: lightgray;
    border-color: lightgray !important;
    &:hover{
      border-color: #000000 !important;
    }
  }
}