@font-face {
    font-family: "PTSansRegular";
    src: url("/assets/PTSans/PTSansRegular/PTSansRegular.eot");
    src: url("/assets/PTSans/PTSansRegular/PTSansRegular.eot?#iefix")format("embedded-opentype"),
    url("/assets/PTSans/PTSansRegular/PTSansRegular.woff") format("woff"),
    url("/assets/PTSans/PTSansRegular/PTSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "PTSansItalic";
    src: url("/assets/PTSans/PTSansItalic/PTSansItalic.eot");
    src: url("/assets/PTSans/PTSansItalic/PTSansItalic.eot?#iefix")format("embedded-opentype"),
    url("/assets/PTSans/PTSansItalic/PTSansItalic.woff") format("woff"),
    url("/assets/PTSans/PTSansItalic/PTSansItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "PTSansBold";
    src: url("/assets/PTSans/PTSansBold/PTSansBold.eot");
    src: url("/assets/PTSans/PTSansBold/PTSansBold.eot?#iefix")format("embedded-opentype"),
    url("/assets/PTSans/PTSansBold/PTSansBold.woff") format("woff"),
    url("/assets/PTSans/PTSansBold/PTSansBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "PFCentroSerifBold";
    src: url("/assets/PfCentro/PFCentroSerifPro-Bold.otf");
    font-style: normal;
    font-weight: normal;
}