.selected-file-text{
  text-decoration: underline;
  font-weight: normal !important;
  font-size: 12px;
}

.add-file-icon{
  font-size: 27px;
  margin-top: 4px;
}

.file-select{
  position: relative;
  .file-remove{
    position: absolute;
    width: 10px;
    height: 10px;
    top: -2px;
    right: 36px;
  }
}