.selected-file-text{
  text-decoration: underline;
  font-weight: normal !important;
  font-size: 12px;
}

.add-file-icon{
  font-size: 27px;
  margin-top: 4px;
  color: #000000;
  &:hover{
    color: #000000;
  }
  cursor: pointer;
}

.file-select{
  position: relative;
  display: inline-block;
  width: 121px;
  .file-remove{
    color: #ffffff;
    position: absolute;
    width: 10px;
    height: 10px;
    top: -2px;
    right: 36px;
  }
}