table.messages-table-left{
  border: 0;
  tr{
    border: 0;
    td{
      border: 0;
      padding: 0;
    }
  }
  & > tbody > tr:first-child{
    & > td:first-child{
      width: 73px;
      img{
        width: 73px;
      }
    }
    & > td:nth-child(2){
      width: 30px;
      .angle{
        margin-top: 25px;
        width: 30px;
        height: 30px;
        border-right: 15px solid #F3F3F3;
        border-top: 15px solid #ffffff;
        border-bottom: 15px solid #ffffff;
      }
    }
    & > td:nth-child(3){
    }
  }
}

table.messages-table-right{
  border: 0;
  tr{
    border: 0;
    td{
      border: 0;
      padding: 0;
    }
  }
  & > tbody > tr:first-child{
    & > td:nth-child(3){
      width: 73px;
      img{
        width: 73px;
      }
    }
    & > td:nth-child(2){
      width: 30px;
      .angle{
        margin-top: 25px;
        width: 30px;
        height: 30px;
        border-left: 15px solid #F3F3F3;
        border-top: 15px solid #ffffff;
        border-bottom: 15px solid #ffffff;
      }
    }
    & > td:nth-child(1){
      text-align: right;
    }
  }
}

.message-message{
  display: inline-block;
  background-color: #F3F3F3;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  padding: 15px;
  table{
    .created_at{
      width: 220px;
    }
    .rating{
      font-size: 14px;
      color: #FFD700;
    }
    td{
    }
    td:nth-child(2){
      text-align: right;
      color: #c1c1c1;
    }
  }
}

.messages-form{
  padding: 28px;
  background-color: #F8F8F8;
}

.smile_row{
  clear: both;
}

.icon {
  width: 22px;
  height: 22px;
  float: left;
  background: url(smiles.png) no-repeat;
}

.smile_wink {
  background-position: 0px 0px;
  cursor: pointer;
}

.smile_grin {
  background-position: -27px 0px;
  cursor: pointer;
}

.smile_tongue {
  background-position: -54px 0px;
  cursor: pointer;
}

.smile_emotion {
  background-position: -81px 0px;
  cursor: pointer;
}

.smile_eyehard {
  background-position: -108px 0px;
  cursor: pointer;
}

.smile_sob {
  background-position: 0px -27px;
  cursor: pointer;
}

.smile_upset {
  background-position: -27px -27px;
  cursor: pointer;
}

.smile_fear {
  background-position: -54px -27px;
  cursor: pointer;
}

.smile_nowords {
  background-position: -81px -27px;
  cursor: pointer;
}

.smile_sad {
  background-position: -108px -27px;
  cursor: pointer;
}

.smile_mouthclosed {
  background-position: 0px -54px;
  cursor: pointer;
}

.smile_cry {
  background-position: -27px -54px;
  cursor: pointer;
}

.smile_heard {
  background-position: -54px -54px;
  cursor: pointer;
}

.smile_kiss {
  background-position: -81px -54px;
  cursor: pointer;
}

.smile_goodlook {
  background-position: -108px -54px;
  cursor: pointer;
}
