.col-group-shop {
    overflow: hidden;
}
.col-group-shop > div {
    padding: 1em;
    display: inline-block;
}
.col-group-shop > .shop-ad {
    padding: 1em;
    display: inline-block;
    float: right;
}

@media screen and (min-width: 1em) and (max-width: 999px) {
    .col-group-shop > div {
        width: 33.3333%;
    }
    .col-group-shop .shop-item:nth-child(n+7){
        margin-top: 361px;
    }
    .col-group-shop .shop-item:nth-child(n+9){
        margin-top: 0 !important;
    }
}

@media screen and (min-width: 1000px) {
    .col-group-shop > div {
        width: 20%;
    }
    .col-group-shop .shop-item:nth-child(n+10){
        margin-top: 400px;
    }
}

@media screen and (min-width: 1em) {
    .col-group-shop .shop-ad {
        width: 66.6666%;
    }
}

@media screen and (min-width: 1000px) {
    .col-group-shop .shop-ad{
        width: 40%;
    }
}