.col-group-shop {
    overflow: hidden;
}
.col-group-shop > div {
    padding: 1em;
    display: inline-block;
}

@media screen and (min-width: 1em) {
    .col-group-shop > div {
        width: 33.3333%;
    }
    .col-group-shop > div:nth-child(3n-1) {
    }
}

@media screen and (min-width: 1000px) {
    .col-group-shop > div {
        width: 20%;
    }
    .col-group-shop > div:nth-child(odd), .col-group-shop > div:nth-child(5n+1) {
    }
}