.shop-item{
  padding: 3px;
  .visible-item{
    padding: 10px;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 0px 9px -2px rgba(138,138,138,1);
    -moz-box-shadow: 0px 0px 9px -2px rgba(138,138,138,1);
    box-shadow: 0px 0px 9px -2px rgba(138,138,138,1);
    width: 100%;
    border-radius: 5px;
    -mox-border-radius: 5px;
    -webkit-border-radius: 5px;
    height: 294px;
    .img{
      width: 100%;
      height: 160px;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
    .title{
      margin-top: 17px;
      font-size: 18px;
      overflow: hidden;
      word-wrap: break-word;
      text-overflow: ellipsis;
      height: 25px;
    }
    .description{
      margin-top: 17px;
      color: gray;
      font-size: 14px;
      overflow: hidden;
      white-space:nowrap;
      text-overflow:ellipsis;
    }
    .rating{
      margin-top: 17px;
      font-size: 14px;
      .value{
        color: gray;
      }
    }
    .price{
      margin-top: -22px;
      color: red;
      font-size: 17px;
      text-align: right;
    }
  }
}

.shop-ad > div{
  padding: 33px;
  overflow: hidden;
  background-color: #EEEEEE;
  width: 100%;
  border-radius: 5px;
  -mox-border-radius: 5px;
  -webkit-border-radius: 5px;
  height: 345px;
  position: relative;
  .new-badge{
    font-family: PFCentroSerifBold;
    position: absolute;
    transform: rotate(50grad);
    background-color: #21A9DD;
    font-size: 47px;
    text-transform: uppercase;
    padding: 4px 200px 4px 200px;
    color: #ffffff;
    right: -190px;
    top: 29px;

  }
  table{
    width: 100%;
    tr.first{
      td{
        &.first{
          width: 40%;
        }
        &.second{
          width: 60%;
          img{
            width: 100%;
          }
        }
        width: 50%;
        vertical-align: top;
      }
      .title{
        text-transform: uppercase;
        font-family: PTSansRegular;
        font-size: 18px;
      }
      .description{
        padding-top: 36px;
        font-family: PTSansRegular;
        font-size: 14px;
      }
    }
  }
  .product-price{
    font-family: PFCentroSerifBold;
    text-transform: uppercase;
    font-size: 25px;
    color: red;
    bottom: 30px;
    right: 30px;
    position: absolute;
  }
}

table.card-section{
  width: 100%;
  td{
    padding: 0 !important;
  }
  margin-top: 28px;
  td.card-icon-section{
    width: 28px;
    .card-icon{
      display: inline-block;
      background-image: url(card.png);
      background-size: contain;
      width: 24px;
      height: 24px;
      background-repeat: no-repeat;
    }
  }
  .to-card-link{
    display: inline-block;
    margin-top: -30px;
    color: #343434;
    font-size: 16px;
  }
  .card-button-section{
    text-align: right;
    margin-top: -40px;
    .card-button{
      background-color: #000000;
      border-radius: 100px;
      -moz-border-radius: 100px;
      -webkit-border-radius: 100px;
      padding: 3px 20px;
      color: #FAFAFA;
      cursor: pointer;
      text-decoration: none;
      font-family: PTSansBold;
      font-size: 14px;
      font-weight: 100;
      &:hover{
        background-color: #ffffff;
        border: 1px solid #000000;
        color: #000000;
      }
    }
  }
}

.content{
  position: relative;
  .shop-promo{
    position: absolute;
    top: 1021px;
    width: 100%;
    .yellow{
      width: 100%;
      height: 100px;
      background-color: #FFD800;
      table.outher{
        height: 100px;
        width: 100%;
        & > tr{
          height: 100px;
          & > td{
            width: 30%;
            height: 100px;
          }
        }
      }
      table.inner{
        tr{
          td.icon{
            vertical-align: middle;
          }
          td.title{
            height: 50px;
            vertical-align: bottom;
            padding-left: 20px;
          }
          td.description{
            height: 50px;
            vertical-align: middle;
            padding-left: 20px;
            font-family: PTSansRegular;
            font-size: 14px;
          }
        }
      }
      .delivery-icon{
        display: inline-block;
        background-image: url(delivery-icon.png);
        background-size: contain;
        width: 77px;
        height: 49px;
        background-repeat: no-repeat;
      }
      .pay-icon{
        display: inline-block;
        background-image: url(pay-icon.png);
        background-size: contain;
        width: 77px;
        height: 77px;
        background-repeat: no-repeat;
      }
      .action-icon{
        display: inline-block;
        background-image: url(action-icon.png);
        background-size: contain;
        width: 77px;
        height: 77px;
        background-repeat: no-repeat;
      }
    }
    .red{
      width: 100%;
      height: 100px;
      background-color: #FF0030;
      table{
        height: 100px;
        width: 100%;
        tr{
          height: 100px;
          td{
            height: 100px;
            vertical-align: middle;
          }
        }
      }
      .promo-code{
        color: #ffffff;
        font-size: 45px;
        font-family: PTSansBold;
        text-transform: uppercase;
      }
      .text{
        max-height: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .get-button{
        background-color: #ffffff;
        padding: 6px 30px;
        border: 2px solid #000000;
        border-radius: 100px;
        -moz-border-radius: 100px;
        -webkit-border-radius: 100px;
        font-size: 25px;
        font-family: PTSansRegular;
      }
    }
  }
}

.product-title{
  font-family: PTSansRegular;
  font-size: 36px;
  text-transform: uppercase;
}

.product-description{
  margin-top: 30px;
  font-family: PTSansRegular;
  font-size: 14px;
}

.white-cart-icon{
  width: 40px;
  height: 36px;
  background-image: url(cart-icon-white.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
}

.cart-item{
  .title{
    text-transform: uppercase;
    font-family: PTSansRegular;
    font-size: 24px;
  }
  .title-order{
    text-transform: uppercase;
    font-family: PTSansRegular;
    font-size: 16px;
  }
  .description{
    margin-top: 17px;
    color: gray;
    font-size: 13px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .price{
    text-transform: uppercase;
    font-family: PTSansBold;
    font-size: 28px;
  }
  .price-gray{
    text-transform: uppercase;
    font-family: PTSansBold;
    font-size: 20px;
    color: lightgray;
  }
  .count{
    font-family: PTSansRegular;
    font-size: 26px;
    input{
      width: 45px;
      border-radius: 20px;
      -moz-border-radius: 20px;
      -webkit-border-radius: 20px;
      padding: 4px 10px;
      font-size: 13px;
      border: 1px solid lightgray;
      margin-bottom: 8px;
      text-align: center;
    }
    a{
      text-decoration: none;
      color: lightgray;
      cursor: pointer;
      &:hover{
        color: #000000;
      }
    }
    .checker{
      tr{
        padding: 0;
        td{
          padding: 0;
        }
      }
    }
  }
  height: 95px;
  &:hover {
    background-color: #F8F8F8;
  }
  border-bottom: 1px solid #F8F8F8;
  td{
    padding: 10px;
  }
}

.black-rounded-close {
  padding-top: 3px;
  display: inline-block;
  background-color: #000000;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  text-align: center;
  color: #ffffff;
  &:hover{
    color: white;
  }
  text-decoration: none;
  font-size: 24px;
}

.total-label{
  margin-top: 50px;
  margin-bottom: 100px;
  .total{
    font-family: PTSansRegular;
    font-size: 26px;
    display: inline-block;
    padding-right: 30px;
  }
  .value{
    color: red;
    text-transform: uppercase;
    font-family: PTSansBold;
    font-size: 45px;
  }
}

.total-label-order{
  margin-top: 50px;
  margin-bottom: 100px;
  .total{
    font-family: PTSansRegular;
    font-size: 18px;
    display: inline-block;
    padding-right: 30px;
  }
  .value{
    color: red;
    text-transform: uppercase;
    font-family: PTSansBold;
    font-size: 33px;
  }
}

.order-hr{
  border-color: #aeaeae;
  margin-right: 30px;
  margin-left: 30px;
}