.registration-form{
  padding: 34px;
  input[type=text], input[type=password]{
    &.validation-error{
      border-color: red !important;
    }
    border: 1.5px solid #DDDDDD;
    cursor: pointer;
    &:hover{
      border-color: #BABABA;
    }
  }
  .gray{
    color: #CDCDCD;
    font-size: 11px;
  }
}

.gray-block{
  background-color: #F8F8F8;
}

.avatar-droppable{
  cursor: pointer;
  background-image: url('avatar.svg');
  background-size: cover !important;
  background-position: center;
  height: 90px;
  width: 90px;
  border: 1px solid #DDDDDD;
  table{
    width: 100%;
    height: 100%;
    td{
      text-align: center !important;
      vertical-align: middle !important;
      padding: 0 !important;
      font-size: 30px;
    }
  }
}